version: '3.9'

services:
  app:
    build: .
    container_name: server_app
    restart: unless-stopped
    ports:
      - "5000:5000"
    env_file:
      - .env
    secrets:
      - firebase_credentials
    environment:
      - GOOGLE_APPLICATION_CREDENTIALS=/run/secrets/firebase_credentials
secrets:
  firebase_credentials:
    file: ./firebase-service-account.json
